<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Shipping Policy</h1>
      <p>
        On this page you will find information about our shipping duration and
        costs.
      </p>

      <h4>Order Processing Duration</h4>
      <h4>Order Delivery</h4>
      <h4>Shipping Rates</h4>
      <h4>Returning Products</h4>
      <h4>Do you have questions?</h4>
      <p>
        Please do not hesitate to
        <a href="/pages/contact-us"><u>contact us</u></a> through our emails or
        phone numbers
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>